.layout {
  width: clamp(345px, 100%, 510px);
  height: 308px;

  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
