@use 'styles/style.scss' as *;

.header {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  gap: 4px;
}

.name {
  font-size: 19px;
  color: $color-green;
}

.time {
  font-size: 19px;
  color: $color-white;
}
